//colors
$color-primary: hsl(180, 29%, 50%);
$color-black: #000;
$color-white: #fff;
$button-background: #eef6f6;

//widths, heights, margins
$width-grid: 144rem;
$height-card: 8rem;
$card-bottom-margin: 1rem;

//font
$font-avg: 500;
$font-bold: 700;
$font-big: 1.8rem;
$font-standart: 1.5rem;
$font-small: 1.1rem;
$font-line-height: 1.7;
